.search-sort-container {
  width: 100%;
  max-width: 650px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 0 auto 15px auto; 
}

.search-bar {
  width: 85%;
  max-width: 400px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #282828;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

.search-bar::placeholder {
  color: #b3b3b3;
}

.search-bar:focus {
  background-color: #3e3e3e;
}

.sort-dropdown {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #282828;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background-color 0.3s ease;
}

.sort-dropdown:focus {
  background-color: #3e3e3e;
}

.sort-dropdown option {
  background-color: #121212;
  color: #ffffff;
}
