.search-sort-container {
  width: 100%;
  max-width: 650px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 0 auto 15px auto; 
}

.search-bar-wrapper {
  position: relative;
  width: 85%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #282828;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

.search-bar::placeholder {
  color: #b3b3b3;
}

.search-bar:focus {
  background-color: #3e3e3e;
}

.clear-search-button {
  position: absolute;
  right: 0px;
  background: #3e3e3e;
  border-radius: 50%;
  border: none;
  color: #b3b3b3;
  font-size: 30px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.clear-search-button:hover {
  color: #fff;
}

.sort-filter-button {
  width: 100%;
  max-width: 70px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #282828;
  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
  transition: all 0.3s ease;
  position: relative;
}

.sort-filter-button.filter-active {
  background-color: rgb(73, 73, 73);
  transform: scale(1.05);
}

.sort-filter-button.filter-active:hover {
  background-color: rgb(73, 73, 73);
}

.sort-filter-button:hover {
  background-color: #3e3e3e;
  transform: scale(1.05);
}

.sort-filter-button:active {
  transform: scale(0.95);
}
