body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, 'Helvetica Neue', 'Helvetica', 'Arial';
  background-color: #121212;
  color: #ffffff;
}

.App {
  padding: 0 20px;
}

.albums-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.no-albums {
  font-size: 20px;
  color: #b3b3b3;
}